{% extends 'base.html' %} {% block content %}

<div class="d-flex flex-column justify-content-center align-items-stretch box" style="padding-top: 23px;padding-right: 27px;padding-bottom: 28px;padding-left: 35px;font-family: Amiri, serif;color: var(--bs-gray-100);">
    <div class="content-block">
        <h4>Zadranka</h4>
        <p class="mb-0">Prvi zadarski online dućan.</p>
    </div>
    <div class="content-block link"><a href="#" style="color: var(--bs-orange);">https://zadranka.hr/</a></div>
</div>
<div class="d-flex flex-column justify-content-center align-items-stretch box" style="padding-top: 23px;padding-right: 27px;padding-bottom: 28px;padding-left: 35px;font-family: Amiri, serif;color: var(--bs-gray-100);">
    <div class="content-block">
        <h4>Agroturizam-Zadar</h4>
        <p class="mb-0">Web magazin za OPG-ove.</p>
    </div>
    <div class="content-block link"><a href="#" style="color: var(--bs-orange);">https://www.agroturizam-zadar.hr/</a></div>
</div>
<div class="d-flex flex-column justify-content-center align-items-stretch box" style="padding-top: 23px;padding-right: 27px;padding-bottom: 28px;padding-left: 35px;font-family: Amiri, serif;color: var(--bs-gray-100);">
    <div class="content-block">
        <h4>Agrra</h4>
        <p class="mb-0">Agencija za ruralni razvoj Zadarske županije.</p>
    </div>
    <div class="content-block link"><a href="#" style="color: var(--bs-orange);">http://www.agrra.hr/</a></div>
</div>

{% endblock %}